/* PRODUCT ITEM */
.product-item.item {
    height: 200px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 5px;
    border-radius: 5px;
}

.product-item.item .product-img {
    height: 60%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.product-item.item .product-cateogry {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #3880ff;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    display: inline;
    padding: 3px 8px;
}

.product-item.item .product-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-item.item .product-title {
    font-size: 12px;
    width: 100%;
    display: -webkit-box;
    line-height: 1;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    height: 25px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: #222;
}

.product-item.item .product-desc {
    padding: 8px;
    position: relative;
    height: 33%;
}

.product-item.item .product-price {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}


.product-item.item .product-desc .product-review {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 12px;
    bottom: 5px;
    right: 5px;
}


/* PRODUCT DETAIL */
.product-item.detail {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
}

.product-item.detail .product-img {
    height: 300px;
    width: 300px;
}

.product-item.detail .product-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-item.detail .product-body {
    margin: 10px auto;
}

.product-item.detail .product-cateogry {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #3880ff;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    display: inline;
    padding: 3px 8px;
}


.product-item.detail .product-desc {
    width: calc(100% - 320px);
    height: auto;
    padding: 8px;
}

.product-item.detail .product-title {
    font-size: 30px;
    width: 100%;
    text-decoration: none;
    color: #222;
}

.product-item.detail .product-price {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}



/* RESPONSIVE DESIGN */
@media (max-width: 700px) {
    .product-item.item {
        width: 42%;
        height: 300px;
    }

    .product-item.detail {
        flex-direction: column;
        margin-top: 0;
        overflow: hidden;
    }

    .product-item.detail .product-img {
        height: 40vh;
        width: 100%;
    }

    .product-item.detail .product-title {
        font-size: 20px;
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        color: #222;
    }

    .product-item.detail .product-body {
        font-size: 14px;
        font-weight: normal;
        white-space: break-spaces;
        margin: 10px auto;

    }

    .product-item.detail .product-desc {
        padding: 16px 8px;
        width: 100%;
        box-sizing: border-box;
    }

    .product-item.detail .product-price {
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (min-width: 900px) {
    .product-item.item {
        width: 150px;
        height: 230px;
    }
}

@media (min-width: 1200px) {
    .product-item.item {
        width: 200px;
        height: 300px;
    }
}