.app-header {
    height: 55px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.page-title {
    font-size: 30px;
    font-weight: bold;
}

.page-back {
    margin-right: 10px;
}

@media (max-width: 800px) {
    .app-header {
        height: 45px;
        padding: 8px 16px;
    }

    .page-title {
        font-size: 18px;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}